<div style="
    bottom: 30px;
    width: 100%;
background-color: white;">

  <h1 style="color: black">Mudar de Páginas Rapido</h1>
  <ion-button [routerLink]="['/login']">Login Page</ion-button>
  <ion-button [routerLink]="['/register']">Register Page</ion-button>
  <ion-button [routerLink]="['/main-page']">Main Page</ion-button>
  <ion-button [routerLink]="['/profile']">Profile Page</ion-button>
  <ion-button [routerLink]="['/profile-creation']">Profile creation</ion-button>
  <ion-button>MyMatches Page</ion-button>
  <ion-button>Login Page</ion-button>
  <ion-button>Login Page</ion-button>
  <ion-button>Login Page</ion-button>
  <ion-button>Login Page</ion-button>
  <ion-button>Login Page</ion-button>



</div>
