<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h1>What works:</h1>
  <p>- user registration</p>
  <p>- user login</p>






  Email
  <input [(ngModel)]="userEmail">
  Password
  <input [(ngModel)]="userPassword">
  <ion-button (click)="login()">Login</ion-button>
  <ion-button [routerLink]="['/register']">Register</ion-button>
  <ion-button (click)="test()">Test</ion-button>




  <app-pages-redirect-div></app-pages-redirect-div>

</ion-content>
